name: First workflow
on: push
jobs:
    build-jobs:
        runs-on: ubuntu-latest
        steps:
            - name: build the app
              run: |
                  sleep 3
                  echo "building the app ..." > app.txt

            - name: upload the app.txt file
              uses: actions/upload-artifact@v4
              with:
                    name: app-text-file
                    path: app.txt



    test-job:
        needs: build-jobs
        runs-on: ubuntu-latest
        steps:
            - name: download the app.txt file
              uses: actions/download-artifact@v5
              with:
                   name: app-text-file


            - name: test the app
              run: |
                  sleep 3
                  cat app.txt
                  echo "testing the app ..." 
                  
    deploy-job:
        needs: test-job 
        runs-on: ubuntu-latest
        steps:

            - name: download the app.txt file
              uses: actions/download-artifact@v5
              with:
                   name: app-text-file
            - name: deploy the app
              run: |
                  sleep 1
                  cat app.txt
                  echo "deploying the app ..." 
                  

