name: test a docker image
on: push
jobs: 
  deploy-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: create a container in ubuntu
        run: docker run hello-world

  deploy-on-windows:
    runs-on: windows-latest
    steps: 
      - name: create a container on windows
        run: docker run hello-world


        


# name: build and deploy
# on: push

# env:
#               CONTAINER_REGISTRY: docker.io
              
#               IMAGE_NAME: app
              
# jobs:
#     docker-jobs:
#         runs-on: ubuntu-latest
        
#         steps:
#            - name: build the docker images for the app
          
#              run: echo docker build . -t $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME


#            - name: login
#              run: echo docker login --username=${{ vars.DOCKER_USERNAME }} --password= ${{ secrets.DOCKER_PASSWORD }}


#            - name: push the docker image to the rregistry
#              run: echo docker push $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME


#     deploy-job:
#         needs: docker-jobs
#         concurrency: prod
#         runs-on: ubuntu-latest
#         steps:
#             - name: run the app from docker
#               run: |
#                 echo echo docker run $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME
#                 sleep 3000








# name: First workflow
# on: push
# jobs:
#     build-jobs:
#         runs-on: ubuntu-latest
#         steps:
#             - name: build the app
#               run: |
#                   sleep 3
#                   echo "building the app ..." > app.txt

#             - name: upload the app.txt file
#               uses: actions/upload-artifact@v4
#               with:
#                     name: app-text-file
#                     path: app.txt



#     test-job:
#         needs: build-jobs
#         runs-on: ubuntu-latest
#         steps:
#             - name: download the app.txt file
#               uses: actions/download-artifact@v5
#               with:
#                    name: app-text-file


#             - name: test the app
#               run: |
#                   sleep 3
#                   cat app.txt
#                   echo "testing the app ..." 
                  
#     deploy-job:
#         needs: test-job 
#         runs-on: ubuntu-latest
#         steps:

#             - name: download the app.txt file
#               uses: actions/download-artifact@v5
#               with:
#                    name: app-text-file
#             - name: deploy the app
#               run: |
#                   sleep 1
#                   cat app.txt
#                   echo "deploying the app ..." 
                  

