name: First workflow
on: push
jobs:
    build-jobs:
        runs-on: ubuntu-latest
        steps:
            - name: build the app
              run: |
                  sleep 3
                  echo "building the app ..." > app.txt
    test-job:
        needs: build-jobs
        runs-on: ubuntu-latest
        steps:
            - name: test the app
              run: |
                  sleep 3
                  cat app.txt
                  echo "testing the app ..." >> app.txt
    deploy-job:
        needs: test-job 
        runs-on: ubuntu-latest
        steps:
            - name: deploy the app
              run: |
                  sleep 1
                  cat app.txt
                  echo "deploying the app ..."  >> app.txt

